*{
    padding: 0;
    margin: 0;
}
.body{
    max-width: 568px;
    font-family: Fraunces 9pt;

}

.header{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-left: 24px;
}
.container{
    margin-left: 24px;
    margin-top: 40px;
}
.containerImg{
    position: relative;
}
#p1{
    font-size: 40px;
    color: white;
    line-height: 40px;

}
.p2{
    color: gray;
    line-height: 0.3;

}
.inside{
    position: absolute;
    top: 190px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.insideBtn{
    background-color: #0E8784;
    color: white;
    width: 217px;
    height: 56px;
    border-radius: 8px;
    border: none;
    top: 240px;
    position: absolute;
    /* top: 435px;
    left: 79px;  */
    cursor: pointer;
}
.boxlar{
    width: 375px;
    height: 1321px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 120px;
    margin-left: 87px;
    gap: 30px;
}
.box img{
    border-radius: 15px;
}
.chooseDiv{
    position: relative;
    margin-top: 242px;
    background-color: #2C343E;
    width: 327px;
    height: 902px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;


}
.textDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    width: 279px;
    height: 177px;
}
.textDiv h3{
    font-size: 28px;
    color: white;
    line-height: 2.5;
}
.textDiv p{
    color: gray;
    line-height: 1.4;
}
.threeBox{
    position: relative;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    top: 64px;
}
.threeBoxes{
    width: 279px;
    height: 382px;
    background-color: #0E8784;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;

}
.boxesInside{
    width: 255px;
    height: 131px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
}
.threeBoxes img{
    padding: 30px;
}
.threeBoxes h3{
    font-size: 24px;
    color: white;
}
.threeBoxes p{
    color: #FEFCF7;
}
